n8n-workflows/chat-main.json
{
  "name": "Batutynas: Chat Support Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "batutynas-chat",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "={{ $env.SITE_DOMAIN || 'https://batutynas.lt' }}"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "chat-trigger",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "batutynas-chat"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\n\nconst sessionId = String(body.session_id || 'anonymous-' + Date.now()).substring(0, 100);\n\n// Sanitize message: strip control chars, trim, enforce length limit\nlet message = String(body.message || '').replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F\\x7F]/g, '').trim();\nif (message.length > 2000) message = message.substring(0, 2000);\n\nconst userEmail = body.email ? String(body.email).substring(0, 254) : null;\nconst userName = body.name ? String(body.name).substring(0, 100) : null;\n\n// Validate language — only allow known values\nconst allowedLangs = ['lt', 'en'];\nconst rawLang = String(body.language || 'lt').toLowerCase().substring(0, 2);\nconst browserLang = allowedLangs.indexOf(rawLang) !== -1 ? rawLang : 'lt';\n\nreturn [{\n  json: {\n    sessionId,\n    message,\n    userEmail,\n    userName,\n    browserLang,\n    chatInput: message || 'Sveiki'\n  }\n}];"
      },
      "id": "chat-extract",
      "name": "Extract Chat Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "={{ $env.BATUTYNAS_SYSTEM_PROMPT || 'You are a friendly, professional customer support assistant for Batutynas.lt — a Lithuanian inflatable trampoline rental company operating since 2015, based in Tauragė, Lithuania. All trampolines are EN14960 certified.\\n\\nLANGUAGE: Always respond in the language the customer uses. Default: Lithuanian. If they write in English, respond in English.\\n\\nIMPORTANT — ANSWER ANY QUESTION: You must attempt to answer ANY question the customer asks, even if it is not directly related to trampoline rental. For business-related questions, use the knowledge below. For unrelated questions (weather, recipes, general knowledge), give a brief helpful answer and gently steer back to your services. Never say you cannot answer.\\n\\nSERVICES:\\n1. Private party rental: trampolines for birthdays, family events. From 50 EUR/day. Second consecutive day 50% off. Free delivery in Tauragė/Šilalė. Additional fee: Jurbarkas, Pagėgiai, Raseiniai, Kelmė, Rietavas.\\n2. Public events: trampoline parks for festivals across ALL Lithuania. Individual pricing. Generators and service included.\\n3. Custom manufacturing: custom sizes, colors, logos. Production: 4-8 weeks.\\n\\nTRAMPOLINES: Fantazijų parkas (park, 15 kids, 150 EUR), Džiumandži parkas (adventure, 12 kids, 130 EUR), Mega kliūčių ruožas (obstacle, 10 kids, 100 EUR), Mega Rocket (2-part, 8 kids, 80 EUR), Candy Pop (compact, 6 kids, 60 EUR), Chameleon (compact, 6 kids, 60 EUR), Milžiniškas smiginis (interactive, unlimited, 50 EUR), Cukraus vatos aparatas (add-on, 30 EUR).\\n\\nDELIVERY: Morning delivery (usually by 10:00). Setup 15-30 min — we do everything. Pickup after event included.\\nSPACE: Small trampolines 5x5m, medium 7x6m, large parks 10x8m. Flat surface required (grass/asphalt), no overhead obstacles.\\nPAYMENT: Bank transfer. 50% deposit to confirm, balance on event day.\\nSAFETY: Ages 2-14, max 70 kg. Remove shoes and jewelry. No flips. Adult supervision under 6. No use in wind >10 m/s.\\nWEATHER: Rain/wind >10 m/s = free reschedule. Free cancellation >48h. Cancellation <24h = 50% fee.\\nINSURANCE: All trampolines insured. EN14960 certified. Normal use damage is our responsibility.\\nELECTRICITY: Private events need 220V outlet. Public events — generators included.\\nHOURS: 8:00-21:00 daily. Phone: +370 686 55557. Email: info@batutynas.lt. Facebook: facebook.com/batutynas.\\n\\nBOOKING: Collect date, location, event type, contact name, phone, trampoline preference. Then use booking_notify tool. IMPORTANT: After submitting, tell the customer this is an INQUIRY, not a confirmed booking. Team will contact within 2 business hours.\\n\\nESCALATE when: customer asks for human, frustrated after 2+ attempts, financial/legal questions. Contacts: +370 686 55557, info@batutynas.lt.\\n\\nFORMAT: Short answers (1-3 paragraphs). Use **bold** for key info. Bullet lists for details.' }}\n\nThe customer's browser language is: {{ $json.browserLang }}\nCustomer email (if known): {{ $json.userEmail }}\nCustomer name (if known): {{ $json.userName }}"
        },
        "promptType": "define",
        "text": "={{ $json.chatInput }}"
      },
      "id": "chat-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [660, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "maxTokensToSample": 1024,
          "temperature": 0.3
        }
      },
      "id": "chat-llm-claude",
      "name": "Claude LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [560, 520],
      "credentials": {
        "anthropicApi": {
          "id": "ANTHROPIC_CRED_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Extract Chat Input').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "chat-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [660, 520]
    },
    {
      "parameters": {
        "name": "booking_notify",
        "description": "Send a booking inquiry notification to the admin. Use this tool when a customer has provided all booking details: date, location, event_type, contact_name, contact_phone, and optionally trampoline_preference. Input should include all collected fields as a JSON string.",
        "workflowId": "={{ $env.TOOL_BOOKING_NOTIFY_WORKFLOW_ID }}",
        "responsePropertyName": "result",
        "fields": {
          "values": [
            {
              "name": "booking_data",
              "stringValue": "{booking_data}"
            }
          ]
        }
      },
      "id": "chat-tool-booking",
      "name": "Tool: Booking Notify",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [760, 520]
    },
    {
      "parameters": {
        "jsCode": "const agentOutput = $input.first().json || {};\n\n// Check multiple possible output fields\nlet response = agentOutput.output || agentOutput.text || '';\n\n// Fallback message if agent produced no output\nif (!response || !response.trim()) {\n  response = 'Atsiprašome, šiuo metu negaliu atsakyti. Susisiekite tiesiogiai: +370 686 55557 arba info@batutynas.lt';\n}\n\n// Truncate excessively long responses\nif (response.length > 10000) {\n  response = response.substring(0, 10000) + '...';\n}\n\nlet sessionId = '';\ntry {\n  sessionId = $('Extract Chat Input').item.json.sessionId;\n} catch (e) {\n  sessionId = 'unknown';\n}\n\nreturn [{\n  json: {\n    response: response,\n    session_id: sessionId\n  }\n}];"
      },
      "id": "chat-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Extract Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat Input": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Booking Notify": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Batutynas Chat",
      "id": "batutynas-chat"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
