n8n-workflows/tool-booking-notify.json
{
  "name": "Batutynas: Booking Notification Tool",
  "nodes": [
    {
      "parameters": {},
      "id": "booking-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Fields arrive individually from toolWorkflow call\nconst input = $input.first().json;\n\n// Sanitize: strip newlines/carriage returns to prevent email header injection\nfunction sanitize(val) {\n  return (val || 'Nenurodyta').replace(/[\\r\\n]/g, ' ').substring(0, 500);\n}\n\n// Format Lithuanian phone: 861234567, +37061234567, 61234567 → +370 612 34567\nfunction formatPhone(phone) {\n  var raw = (phone || '').replace(/[^\\d+]/g, '');\n  var digits = raw.replace(/\\D/g, '');\n  if (digits.startsWith('370') && digits.length >= 11) {\n    return '+' + digits.substring(0,3) + ' ' + digits.substring(3,6) + ' ' + digits.substring(6);\n  }\n  if (digits.startsWith('8') && digits.length >= 9) {\n    digits = '370' + digits.substring(1);\n    return '+' + digits.substring(0,3) + ' ' + digits.substring(3,6) + ' ' + digits.substring(6);\n  }\n  if (digits.length >= 8 && digits.startsWith('6')) {\n    digits = '370' + digits;\n    return '+' + digits.substring(0,3) + ' ' + digits.substring(3,6) + ' ' + digits.substring(6);\n  }\n  return raw || 'Nenurodyta';\n}\n\nconst groupType = sanitize(input.group_type);\nconst date = sanitize(input.date);\nconst location = sanitize(input.location);\nconst eventType = sanitize(input.event_type);\nconst guestCount = sanitize(input.guest_count);\nconst contactName = sanitize(input.contact_name);\nconst contactPhone = formatPhone(input.contact_phone);\nconst trampolinePreference = sanitize(input.trampoline_preference);\n\n// Purchase flow fields\nconst dimensions = input.dimensions ? sanitize(input.dimensions) : null;\nconst colors = input.colors ? sanitize(input.colors) : null;\nconst characters = input.characters ? sanitize(input.characters) : null;\nconst notes = input.notes ? sanitize(input.notes) : null;\nconst email = input.email ? sanitize(input.email) : null;\nconst requestType = input.request_type || 'booking'; // 'booking', 'catalog', 'custom'\n\nlet emailSubject, emailBody;\n\nif (requestType === 'catalog') {\n  emailSubject = `Katalogo užklausa: ${email || contactName}`;\n  emailBody = `Nauja batutų katalogo užklausa iš pokalbių roboto:\\n\\n` +\n    `El. paštas: ${email || 'Nenurodyta'}\\n` +\n    `Kontaktas: ${contactName}\\n` +\n    `Telefonas: ${contactPhone}\\n\\n` +\n    `--- Šis pranešimas sugeneruotas automatiškai iš Batutynas.lt pokalbių roboto ---`;\n} else if (requestType === 'custom') {\n  emailSubject = `Individuali gamyba: ${contactName}`;\n  emailBody = `Nauja individualaus batuto gamybos užklausa iš pokalbių roboto:\\n\\n` +\n    `Kontaktas: ${contactName}\\n` +\n    `Telefonas: ${contactPhone}\\n` +\n    `El. paštas: ${email || 'Nenurodyta'}\\n\\n` +\n    `GAMYBOS DETALĖS:\\n` +\n    `Matmenys: ${dimensions || 'Nenurodyta'}\\n` +\n    `Spalvos: ${colors || 'Nenurodyta'}\\n` +\n    `Personažai/tema: ${characters || 'Nenurodyta'}\\n` +\n    `Papildomi pageidavimai: ${notes || 'Nenurodyta'}\\n\\n` +\n    `--- Šis pranešimas sugeneruotas automatiškai iš Batutynas.lt pokalbių roboto ---`;\n} else {\n  emailSubject = `Nauja užklausa: ${groupType} - ${date} (${contactName})`;\n  emailBody = `Nauja batuto užsakymo užklausa iš svetainės pokalbių roboto:\\n\\n` +\n    `Grupė: ${groupType}\\n` +\n    `Data: ${date}\\n` +\n    `Vieta: ${location}\\n` +\n    `Renginio tipas: ${eventType}\\n` +\n    `Svečių skaičius: ${guestCount}\\n` +\n    `Kontaktinis asmuo: ${contactName}\\n` +\n    `Telefonas: ${contactPhone}\\n` +\n    `Pageidaujamas batutas: ${trampolinePreference}\\n\\n` +\n    `--- Šis pranešimas sugeneruotas automatiškai iš Batutynas.lt pokalbių roboto ---`;\n}\n\nreturn [{\n  json: {\n    date,\n    location,\n    eventType,\n    guestCount,\n    contactName,\n    contactPhone,\n    trampolinePreference,\n    groupType,\n    requestType,\n    dimensions,\n    colors,\n    characters,\n    notes,\n    email,\n    emailSubject,\n    emailBody\n  }\n}];\n"
      },
      "id": "booking-parse",
      "name": "Parse Booking Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "dovydasdobrovolskis@gmail.com",
        "toEmail": "info@batutynas.lt",
        "subject": "={{ $json.emailSubject }}",
        "text": "={{ $json.emailBody }}",
        "options": {}
      },
      "id": "booking-email",
      "name": "Send Email to Admin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        660,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "SMTP_CRED_ID",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    result: 'Užklausa sėkmingai išsiųsta administratoriui. Klientui pasakykite, kad komanda susisieks per 2 darbo valandas. Booking inquiry sent successfully to admin.'\n  }\n}];"
      },
      "id": "booking-response",
      "name": "Return Confirmation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Booking Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Booking Data": {
      "main": [
        [
          {
            "node": "Send Email to Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Admin": {
      "main": [
        [
          {
            "node": "Return Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Batutynas Chat",
      "id": "batutynas-chat"
    }
  ],
  "triggerCount": 0,
  "versionId": "2"
}